.card {
    height: 250px;
    margin: 40px auto;
}

.card a {
    color: #333333;
    text-decoration: none;
}

.category-recipe-img {
    height: 190px;
    width: 190px;
}

.card-body-category {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
}