body {
    background-color: #EFE7DC;
}

.navbar {
    background-color: #FF774B;
}

.logo {
    height: 36px;
    width: 150px;
    padding: 0px;
    margin-left: 23px;
}

.navbar-nav {
    padding: 0px;
    margin-right: 23px;
}

.choose-category {
    font-size: 26px;
    margin-top: 80px;
    margin-bottom: 0;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

.category-link {
    color: #333333;
}
