{% extends "master.html" %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
    <h1 style="font-size: 34px; text-align: center; margin-top: 86px; color: #333333">
        О нас:
    </h1>
    <p style="width: 600px; margin: auto; text-align: center; margin-top: 45px; font-size: 18px; color: #333333; line-height: 1.7;">
        «Povari-Ka» — это ваш путеводная звезда в мире кулинарии! Здесь вы найдёте множество разнообразных рецептов на любой вкус
        и уровень подготовки. Мы предлагаем пошаговые инструкции, подробные описания и красочные фотографии готовых блюд, чтобы вы
        могли легко и быстро приготовить самые вкусные и оригинальные кушанья.На нашем сайте вы сможете найти рецепты для завтрака,
        обеда и ужина, а также разнообразные десерты и закуски. Мы постоянно обновляем нашу базу данных, чтобы вы всегда
        имели доступ к свежим и интересным рецептам.Присоединяйтесь к нам и откройте для себя мир вкусной и здоровой пищи вместе 
        с «Povari-Ka»!
    </p>
{% endblock %}