{% extends "master.html" %}
{% load static %}


{% block title %}
    {{ category_choices }}
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock %}


{% block content %}
    <h1 class="choose-category">{{ category_choices }}</h1>
    <hr class="category-underline" style="border-color: #333333;">

    {% for x in category_result %}
        <div class="card mb-3" style="max-width: 540px;">
            <a href="/recipe/{{ x.id }}">
                <div class="row g-0 mx-auto">
                    <div class="col-md-4">
                        <img class="category-recipe-img rounded-start"
                            src="{{x.image.url}}"
                            alt="Recipe Image"
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body-category">
                            <h5 class="card-title">{{x.name|lower|capfirst}}</h5>
                            <p class="card-text">
                                {{x.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

{% endblock %}