{% extends "master.html" %}
{% load static %}


{% block title %}
    {{ recipe_choices.name|lower|capfirst }}
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/recipe.css' %}">
{% endblock %}


{% block content %}
    <div class="hero-block">

        <div class="row">
            <div class="col-md-10">
                <div class="row bg-white rounded">
                    <div class="col-md-3 mt-1">
                        <img class="hero-image img-fluid img-responsive rounded product-image" src="{{ recipe_choices.image.url }}">
                    </div>
                    <div class="hero-text col-md-6 mt-3">
                        <h5>{{ recipe_choices.name|lower|capfirst }}</h5>
                        <hr>
                        <p class="text-justify para mb-0">{{ recipe_choices.description }}<br><br></p>
                        <h6 class="cooking-time">Время приготовления: {{ recipe_choices.cooking_time }} (мин.)</h6>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr-recipe">

        <h1 class="ingredients-title">Состав / Ингредиенты (на одну порцию):</h1>
        
        <ul class="ingredients-list">
            {% for x in ingredients %}
                <li class="ingredient">{{ x.ingredient }} ({{ x.amount_ingredient }})</li>
            {% endfor %}
        </ul>

        <hr class="hr-recipe">

        <h1 class="ingredients-title">Шаги приготовления:</h1>

        {% for x in steps %}
            <div class="steps mb-3" style="max-width: 700px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="step-image" src="{{ x.image.url }}" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Шаг {{ x.step_number }}</h5>
                            <p class="card-text">{{ x.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <hr class="hr-recipe">

        <h1 class="ingredients-title">Подача:</h1>

        <div class="steps mb-3" style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="serving-image" src="{{ serving.image.url }}" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="serving-card-body">
                        <p class="card-title">{{ serving.description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>   
{% endblock %}



